* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #a3acff;
}

.container {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #8692fc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #969ff6;
}
#captchaText {
  align-self: center;
  width: 300px;
  display: inline-block;
  padding: 8px 115px;
  margin-right: 10px;
  background: #eee;
  font-weight: bold;
  letter-spacing: 3px;
  user-select: none;
}

#refreshCaptcha {
  cursor: pointer;
}
.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
